# general things to ignore
*.sublime-project
*.sublime-workspace
*.wpr
*.wpu
*.pyc
*.c
*.cpp
*.h
*.hpp
*.pypirc
build/
dist/
_unused
test.py
rayguipy.py
templates/
logo/
libraylib_shared_no9patch.dll
libraylib_shared_pre9patch.dll
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*~
pylint.html
.idea/
.vs/
.vscode/
env
venv/
.pytest_cache/
.tox
.cache
